
.solution{
    margin: 30px;
    padding: 30px;
    background-color: var(--light-lilac-color);
    margin-top: 0;
    padding-top: 30px;
}

#solution{
    width: 150px;
    margin: 10px auto;
}
.bxl-redux{
    font-weight: 700;
    font-size: 1.5rem;
}
.solution h2{
    text-align: center;
    margin: 10px auto;
    width: 300px;
}
.gridContainer{
    width: 70%;
    height: 450px;
    margin: 10px auto;
    display: grid;
    grid-template: 1fr 2fr / 1fr 2fr;
    gap: 15px;
}

.elem1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
} 

.dd{
    background-color: var(--day);
    color: var(--night);
    /* border-radius: 10px; */
}

.elem1 img{
    width: 250px;
    display: block;
    margin: 5px auto;
}
.elem1 h3{
    margin: 5px;
    margin-top: 20px;
    width: 200px;
    font-weight: 700;
}
.elem1 p{
    margin: 5px;
    margin-top: 10px;
}
.dd a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: .9rem;
    width: 130px;
    height: 40px;
    margin: 5px;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: var(--lilac-color);
}
.dd a:hover{
    background-color: var(--purple-color);
    color: var(--lilac-color);
}

.elem2{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    height: 230px;
}
.elem3 img{
    width: 280px;
    margin: 10px;
}
.elem3{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 230px;
}

.elem2 h3, .elem3 h3{
    margin: 5px;
    margin-top: 20px;
    width: 200px;
    font-weight: 700;
}

.elem2 p, .elem3 p{
    margin: 5px;
    margin-top: 10px;
}

.gridContainer::-webkit-scrollbar{
    display: none;
}


@media screen and (max-width: 700px) {
    .gridContainer{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        overflow-y: hidden;
        width: 280px;
        height: 460px;
    }
    .dd{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 261px;
        height: 410px;
        padding: 10px;
        box-shadow: 2px 2px 5px 1px var(--ash-color);
    }
    .dd img{
        background-color: var(--light-lilac-color);
        display: block;
        margin: 0 auto;
        width: 240px;
        height: 221px;
        /* border-radius: 10px; */
    }
    .elem1 img{
        width: 240px;
    }

    .elem2 img{
        margin-bottom: 10px;
    }
    .elem3 img{
        width: 240px;
        height: 221px;
    }
    .elem3{
        margin-right: 10px;
    }
    .dd-text{
        width: 240px;
        height: 175px;
    }
    
    
}
/* @media (max-width: 700px) {
    .gridContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        overflow-x: scroll;
        height: auto;
    }
    .gridContainer::-webkit-scrollbar{
        display: none;
    }
    .elem1{
        margin: 10px;
    }
    .cont, #elem3{
        margin: 10px;
        padding: 10px;
        width: 270px;
        height: 441.77px;
    }
    .dd{
        box-shadow: 3px 3px 5px var(--ash-color);
        width: 270px;
    }
    .cont img{
        margin: 5px;
        height: 230px;
    }
    .cont h3{
        margin-top: 0;
    }
    .tt{
        margin-top: 25px;
        height: 156px;
    }
} */