.whyUs{
    width: 450px;
    height: auto;
}
.whyCont{
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.whyCont img{
    width: 500px;
}
.why{
    width: 100px;
    height: 40px;
    padding: 10px;
    border-bottom: 3px solid var(--purple-color);
    background-color: var(--lilac-color);
    color: var(--purple-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.why i{
    transform: rotate(310deg);
}
.whyUs h2{
    margin-top: 10px;
    color: var(--night);
}

.reason{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px auto;
    margin-top: 30px;
    color: var(--night);
}
.reason img{
    width: 50px;
    margin-top: 5px;
}
.reason p{
    width: 380px;
    margin-top: 5px;
    font-size: .8rem;
}

@media (max-width:700px) {
    .whyCont{
        flex-direction: column-reverse;
    }
    .why{
        margin: 10px auto;
    }
    .whyUs h2{
        text-align: center;
    }
    .whyCont img{
        width: 300px;   
    }
    .reason{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 200px;
        margin: 0;
    }
    .reason img{
        width: 30px;
    }
    .reason h3{
        font-size: .9rem;
    }
    .reason p{
        width: 180px; 
        font-size: .7rem;  
    }
    .reason:nth-child(3){
        grid-column-start: 1 ;
        grid-column-end: 3;
        margin: 5px auto;
    }
    .reasonss{
        margin: 20px auto;
        margin-bottom: 50px;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    

}